{"swagger":"2.0","info":{"description":"Versão: v1.7.30","version":"v1.7.30","title":"DATALAKE - API Processos"},"host":"api-processo.data-lake.pdpj.jus.br","basePath":"/processo-api","tags":[{"name":"Processos Datalake","description":"Processo Controller"},{"name":"Metricas Datalake","description":"Metrica Controller"},{"name":"Competencias Codex","description":"Competencia Codex Controller"},{"name":"Precedentes","description":"Precedente Controller"},{"name":"Mtd","description":"Mtd Controller"},{"name":"Situacao Fase Processual","description":"Situacao Fase Processual Controller"},{"name":"Auditoria","description":"Auditoria Controller"},{"name":"Indicadores","description":"Indicadores Controller"},{"name":"Processos Datalake - Interno","description":"Processo Interno Controller"},{"name":"Processos Datalake - Refinado","description":"Processo Refinado Controller"},{"name":"Saneamento","description":"Saneamento Controller"}],"paths":{"/api/v1/auditoria":{"get":{"tags":["Auditoria"],"summary":"Consultar Auditoria","operationId":"consultarAuditoriaUsingGET","produces":["application/json"],"parameters":[{"name":"dataHoraConclusao","in":"query","description":"Data e hora de conclusão de inserção de registros de auditoria de processos no Data Lake. Informe com a formatação yyyy-MM-dd'T'HH:mm:ss.SSS. Exemplo: 2024-01-01T00:00:00.000. A busca é feita com a data/hora informada e com as anteriores a partir dela.","required":false,"type":"string"},{"name":"dataHoraInicio","in":"query","description":"Data e hora de início de inserção de registros de auditoria de processos no Data Lake. Informe com a formatação yyyy-MM-dd'T'HH:mm:ss.SSS. Exemplo: 2024-01-01T00:00:00.000. A busca é feita com a data/hora informada e com as pŕoximas a partir dela.","required":false,"type":"string"},{"name":"page","in":"query","description":"Informe o valor inicial para paginação","required":false,"type":"integer","default":0,"format":"int32","allowEmptyValue":false,"x-example":0},{"name":"size","in":"query","description":"Informe a quantidade de registros na paginação","required":false,"type":"integer","default":5,"format":"int32","allowEmptyValue":false,"x-example":5}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomPageResponse«AuditoriaDTO»"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/auditoria/agrupada":{"get":{"tags":["Auditoria"],"summary":"Consultar Auditoria Agregada","operationId":"consultarAuditoriaAgrupadaUsingGET","produces":["application/json"],"parameters":[{"name":"clientId","in":"query","description":"Identificação do cliente de serviços que foi utilizado para acesso ao Datalake","required":true,"type":"string"},{"name":"dataHoraConclusao","in":"query","description":"Data e hora de conclusão de inserção de registros de auditoria de processos no Data Lake. Informe com a formatação yyyy-MM-dd'T'HH:mm:ss.SSS. Exemplo: 2024-01-01T00:00:00.000. A busca é feita com a data/hora informada e com as anteriores a partir dela.","required":true,"type":"string"},{"name":"dataHoraInicio","in":"query","description":"Data e hora de início de inserção de registros de auditoria de processos no Data Lake. Informe com a formatação yyyy-MM-dd'T'HH:mm:ss.SSS. Exemplo: 2024-01-01T00:00:00.000. A busca é feita com a data/hora informada e com as pŕoximas a partir dela.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuditoriaAgrupadoDTO"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/competencias/assunto/{jurisdicaoLocalId}/{classeId}":{"get":{"tags":["Competencias Codex"],"summary":"Esse endpoint recupera lista de Assunto a partir do atributo classe","description":"Esse endpoint recupera lista de Assunto a partir do atributo classe. Proxy do endpoint do serviço Codex: /rest/assunto/recuperar/{jurisdicaoLocalId}/{classeId}","operationId":"consultarAssuntoUsingGET","produces":["application/json"],"parameters":[{"name":"classeId","in":"path","description":"classeId","required":true,"type":"string"},{"name":"jurisdicaoLocalId","in":"path","description":"jurisdicaoLocalId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/competencias/classe/{jurisdicaoLocalId}":{"get":{"tags":["Competencias Codex"],"summary":"Busca a lista de classes pelo id da jurisdição local","description":"Esse endpoint recupera lista de Classe a partir do atributo jurisdição. Proxy do endpoint do serviço Codex: /rest/classe/recuperar/{jurisdicaoLocalId}","operationId":"buscarClassePorJurisdicaoLocalIdUsingGET","produces":["application/json"],"parameters":[{"name":"jurisdicaoLocalId","in":"path","description":"Id da Jurisdição Local","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/competencias/jurisdicao/{jurisdicaoLocalId}":{"get":{"tags":["Competencias Codex"],"summary":"Esse endpoint recupera lista de jurisdição a partir do id da jurisdição local","description":"Esse endpoint recupera lista de jurisdição a partir do id da jurisdição local. Proxy do endpoint do serviço Codex: /rest/jurisdicaoLocal/{id}","operationId":"consultarJurisdicaoUsingGET","produces":["application/json"],"parameters":[{"name":"jurisdicaoLocalId","in":"path","description":"ID da jurisdição local","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/competencias/jurisdicao/{orgaoJusticaId}/{instancia}":{"get":{"tags":["Competencias Codex"],"summary":"Esse endpoint recupera lista de jurisdição a partir dos atributos tribunal e instância","description":"Esse endpoint recupera lista de jurisdição a partir dos atributos tribunal e instância. Proxy do endpoint do serviço Codex: /rest/jurisdicaoLocal/recuperar/{orgaoJusticaId}/{instancia}","operationId":"consultarJurisdicaoUsingGET_1","produces":["application/json"],"parameters":[{"name":"classeId","in":"query","description":"ID da classe","required":false,"type":"string","allowEmptyValue":false},{"name":"instancia","in":"path","description":"instancia","required":true,"type":"string","enum":["INCONSISTENTE","PRIMEIRO_GRAU","SEGUNDO_GRAU","TERCEIRO_GRAU","QUARTO_GRAU"]},{"name":"orgaoJusticaId","in":"path","description":"ID do orgaoJusticaId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/competencias/orgaoJulgadorLocal/{orgaoJulgadorLocalId}":{"get":{"tags":["Competencias Codex"],"summary":"Esse endpoint recupera lista de orgão julgador local a partir do atributo id do orgão julgador local","description":"Esse endpoint recupera lista de orgão julgador local a partir do atributo id do orgão julgador local. Proxy do endpoint do serviço Codex: /rest/orgaoJulgadorLocal/{id}","operationId":"consultarOrgaoJulgadorLocalUsingGET","produces":["application/json"],"parameters":[{"name":"orgaoJulgadorLocalId","in":"path","description":"ID do orgão julgador local","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/competencias/orgaoJulgadorLocal/{orgaoJusticaId}/{instancia}/{jurisdicaoLocaId}":{"get":{"tags":["Competencias Codex"],"summary":"Esse endpoint recupera lista de orgão julgador local a partir dos atributos id do orgão de justiça, instância e id da jurisdição local","description":"Esse endpoint recupera lista de orgão julgador local a partir dos atributos id do orgão de justiça, instância e id da jurisdição local. Proxy do endpoint do serviço Codex: /rest/orgaoJulgadorLocal/recuperar/{orgaoJusticaId}/{instancia}/{jurisdicaoLocaId}","operationId":"consultarOrgaoJulgadorLocalUsingGET_1","produces":["application/json"],"parameters":[{"name":"instancia","in":"path","description":"instancia","required":true,"type":"string","enum":["INCONSISTENTE","PRIMEIRO_GRAU","SEGUNDO_GRAU","TERCEIRO_GRAU","QUARTO_GRAU"]},{"name":"jurisdicaoLocaId","in":"path","description":"jurisdicaoLocaId","required":true,"type":"string"},{"name":"orgaoJusticaId","in":"path","description":"orgaoJusticaId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/competencias/{competenciaLocalId}":{"get":{"tags":["Competencias Codex"],"summary":"Recupera lista de Competência por competenciaLocalId","description":"Recupera lista de Competência filtrada por competenciaLocalId. Proxy do endpoint do serviço Codex: /rest/competenciaLocal/{id}","operationId":"consultarCompetenciaLocalUsingGET","produces":["application/json"],"parameters":[{"name":"competenciaLocalId","in":"path","description":"ID da competencia local","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/competencias/{jurisdicaoLocalId}/{classeId}":{"get":{"tags":["Competencias Codex"],"summary":"Recupera lista de Competência por jurisdicaoLocalId, classeId e assuntoId","description":"Recupera lista de Competência filtrada por jurisdicaoLocalId, classeId e assuntoId. Proxy do endpoint do serviço Codex: /rest/competenciaLocal/recuperar/{jurisdicaoLocalId}/{classeId}","operationId":"consultarCompetenciaUsingGET","produces":["application/json"],"parameters":[{"name":"assuntoId","in":"query","description":"assuntoId","required":true,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"classeId","in":"path","description":"classeId","required":true,"type":"string"},{"name":"jurisdicaoLocalId","in":"path","description":"jurisdicaoLocalId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos":{"get":{"tags":["Processos Datalake"],"summary":"Busca de processos através de filtros","description":"Busca para registros de processos através de filtros para os campos indexados. A paginação é sequencial.","operationId":"consultaProfundaUsingGET","produces":["application/json"],"parameters":[{"name":"campoOrdenacao","in":"query","description":"Campo para ordenação decrescente dos resultados. As opções válidas são: dataHoraUltimoMovimento, dataHoraAtualizacao, dataHoraPrimeiroAjuizamento, dataHoraUltimoAjuizamento. O campo dataHoraUltimoMovimento será o padrão caso nenhuma opção seja informada.","required":false,"type":"string","allowEmptyValue":false},{"name":"cpfCnpjParte","in":"query","description":"Número do CPF ou CNPJ da parte. Informe com ou sem formatação (ex.: 111.111.111-11, 11.111.111/0001-11, 11.ABC.111/0001-11 (alfanumérico))","required":false,"type":"string"},{"name":"cpfRepresentante","in":"query","description":"Número do CPF  do representante. Informe com formatação (ex.: CPF: 111.111.111-11) ou somente números","required":false,"type":"string"},{"name":"dataHoraAtualizacaoFim","in":"query","description":"Data e hora de conclusão da atualização do processo no Data Lake. Informe com a formatação yyyy-MM-dd'T'HH:mm:ss.SSS. Exemplo: 2024-01-01T00:00:00.000. A busca é feita com a data/hora informada e com as anteriores a partir dela.","required":false,"type":"string"},{"name":"dataHoraAtualizacaoInicio","in":"query","description":"Data e hora de início da atualização do processo no Data Lake. Informe com a formatação yyyy-MM-dd'T'HH:mm:ss.SSS. Exemplo: 2024-01-01T00:00:00.000. A busca é feita com a data/hora informada e com as pŕoximas a partir dela.","required":false,"type":"string"},{"name":"dataHoraPrimeiroAjuizamentoFim","in":"query","description":"Data e hora de conclusão do primeiro ajuizamento do processo. Informe com a formatação yyyy-MM-dd'T'HH:mm:ss.SSS. Exemplo: 2024-01-01T00:00:00.000. A busca é feita com a data/hora informada e com as anteriores a partir dela.","required":false,"type":"string"},{"name":"dataHoraPrimeiroAjuizamentoInicio","in":"query","description":"Data e hora de início do primeiro ajuizamento do processo. Informe com a formatação yyyy-MM-dd'T'HH:mm:ss.SSS. Exemplo: 2024-01-01T00:00:00.000. A busca é feita com a data/hora informada e com as pŕoximas a partir dela.","required":false,"type":"string"},{"name":"fase","in":"query","description":"Fase em que se encontra o processo. Selecione uma das opções válidas.","required":false,"type":"string","allowEmptyValue":false,"enum":["CONHECIMENTO","EXECUÇÃO","INVÁLIDO","INVESTIGATÓRIA","NÃO INFORMADO","OUTRO","PRÉ-PROCESSUAL"]},{"name":"href","in":"query","description":"Caminho para endpoint pessoas seguido pelo idPessoa. Exemplo: '/pessoas/1fe353ba-98a2-5ba7-889b-324e2e901d09' ","required":false,"type":"string"},{"name":"id","in":"query","description":"Id do processo","required":false,"type":"string"},{"name":"idAssuntoJudicial","in":"query","description":"Id do assunto judicial. Os ids devem estar separados por vírgulas e devem ser numéricos. Exemplo: 7, 40, 120, 436","required":false,"type":"string"},{"name":"idClasse","in":"query","description":"Códigos das classes. Os códigos devem estar separados por vírgulas e devem ser numéricos. Exemplo: 7, 40, 120, 436","required":false,"type":"string"},{"name":"idFonteDadosCodex","in":"query","description":"idFonteDadosCodex do processo","required":false,"type":"string"},{"name":"idOrgaoJulgador","in":"query","description":"Identificador do órgão julgador. Exemplo: 12345.","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"instancia","in":"query","description":"Instância do processo","required":false,"type":"string"},{"name":"nomeParte","in":"query","description":"Nome da Parte","required":false,"type":"string"},{"name":"nomeRepresentante","in":"query","description":"nome do representante","required":false,"type":"string"},{"name":"numeroHistorico","in":"query","description":"Número histórico que identifica de forma única a tramitação do processo dentro do sistema do Supremo Tribunal Federal (STF). Exemplo: HC-244185","required":false,"type":"string"},{"name":"numeroProcesso","in":"query","description":"Número do processo","required":false,"type":"string"},{"name":"numeroProcessoSintetico","in":"query","description":"Número sintético do processo","required":false,"type":"string"},{"name":"oabRepresentante","in":"query","description":"Código/número do representante OAB","required":false,"type":"string"},{"name":"outroNomeParte","in":"query","description":"Outro nome da parte","required":false,"type":"string"},{"name":"poloParte","in":"query","description":"Polo da parte.","required":false,"type":"string"},{"name":"searchAfter","in":"query","description":"Timestamp da data/hora do campo válido informado (ver campoOrdenacao) e Id do processo, sendo ambos os valores retornados na busca anterior para essa propriedade. Os valores devem estar separados por vírgula. A busca será realizada a partir desse ponto. searchAfter deve receber dois valores separados por vírgula: Timestamp do campo válido informado — campo de ordenação primário. idProcesso (ou equivalente único) — campo de ordenação secundário (para desempate). Esses valores devem ser copiados da última linha do resultado anterior e usados como ponto de partida para a próxima página.","required":false,"type":"string","allowEmptyValue":false},{"name":"segmentoJustica","in":"query","description":"Segmento Justiça do processo. Selecione uma das opções válidas.","required":false,"type":"string","enum":["JUSTICA_MILITAR_UNIAO","JUSTICA_MILITAR_ESTADUAL","JUSTICA_TRABALHO","JUSTICA_ELEITORAL","JUSTICA_FEDERAL","JUSTICA_ESTADUAL","SUPERIOR_TRIBUNAL_JUSTICA","SUPREMO_TRIBUNAL_FEDERAL","CONSELHO_NACIONAL_JUSTICA"]},{"name":"situacaoAtual","in":"query","description":"Situação atual do processo. Selecione uma das opções válidas.","required":false,"type":"string","allowEmptyValue":false,"enum":["Arquivado definitivamente","Arquivado provisoriamente","Audiência conciliatória designada","Audiência não conciliatória designada","Baixado definitivamente","Concluso","Distribuição cancelada","Tramitando","Recurso interno iniciado","Remetido","Sessão do juri designada","Suspenso/sobrestado por despacho judicial","Suspenso/sobrestado por decisão judicial","Suspenso/Sobrestado por IRDR","Suspenso/sobrestado por Recurso Repetitivo","Suspenso/sobrestado por Repercussão Geral","Perícia agendada","Perícia designada","Perícia reagendada","Concluso para despacho","Concluso para decisão","Concluso para julgamento","Concluso para admissibilidade recursal","Audiência conciliatória redesignada","Audiência não conciliatória redesignada","Sessão do juri redesignada","Pendente","Suspenso/sobrestado por Ação de Controle Concentrado de Constitucionalidade","Suspenso/sobrestado por Controvérsia","Suspenso/sobrestado por Grupo de Representativos","Suspenso/sobrestado por IAC","Suspenso/sobrestado por Recurso de Revista Repetitiva","Supenso/Sobrestado por SIRDR","Remetido para outra instância","Suspenso/sobrestado por prejudicialidade de RE","Sessão Restaurativa designada","Sessão Restaurativa redesignada","Redistribuído para outro Tribunal","Denúncia/queixa recebida","Distribuído","Execução não criminal iniciada","Recebido pelo Tribunal","Fase processual iniciada","Classe evoluída para ação penal","Liquidação iniciada","Ato infracional iniciado","Classe evoluída para ato infracional","Execução não criminal","Remetido em grau de recurso"]},{"name":"situacaoParte","in":"query","description":"Situação da parte.","required":false,"type":"string"},{"name":"tipoOperacao","in":"query","description":"Tipo operação do processo. Selecione uma das opções válidas.","required":false,"type":"string","allowEmptyValue":false,"enum":["Alteração de documentos","Alteração de metadados","Alteração de movimentos","Alteração de partes","Exclusão de processo","Identificação de petição inicial","Inserção de processo"]},{"name":"tribunal","in":"query","description":"Tribunal. As siglas dos tribunais devem estar separadas por vírgulas. Máximo de 5 (cinco) tribunais. Exemplo: TJDFT, TJSP, TJMG","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomSearchAfterResponse«TramiteInfoProcessoOpenSearch»"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/metricas":{"get":{"tags":["Metricas Datalake"],"summary":" Busca de processos por situação, fase e quantidade de dias","description":"Busca para registros de processos através de filtros para os campos indexados. A paginação é sequencial.","operationId":"consultaMetricaUsingGET","produces":["application/json"],"parameters":[{"name":"anoReferencia","in":"query","description":"ano referencia","required":false,"type":"string"},{"name":"fase","in":"query","description":"Fase em que se encontra o processo. Selecione uma das opções válidas.","required":false,"type":"string","allowEmptyValue":false,"enum":["CONHECIMENTO","EXECUÇÃO","INVÁLIDO","INVESTIGATÓRIA","NÃO INFORMADO","OUTRO","PRÉ-PROCESSUAL"]},{"name":"quantidadeDeDias","in":"query","description":"Quantidade de dias obrigatoriamente vai de 1 até 300 dias.","required":true,"type":"string"},{"name":"searchAfter","in":"query","description":"Timestamp da data/hora do último movimento e Id do processo, sendo ambos os valores retornados na busca anterior para essa propriedade. Os valores devem estar separados por vírgula. A busca será realizada a partir desse ponto. searchAfter deve receber dois valores separados por vírgula: Timestamp da dataHoraUltimoMovimento — campo de ordenação primário. idProcesso (ou equivalente único) — campo de ordenação secundário (para desempate). Esses valores devem ser copiados da última linha do resultado anterior e usados como ponto de partida para a próxima página.","required":false,"type":"string","allowEmptyValue":false},{"name":"situacaoAtual","in":"query","description":"Situação atual do processo. Selecione uma das opções válidas.","required":false,"type":"string","allowEmptyValue":false,"enum":["Arquivado definitivamente","Arquivado provisoriamente","Audiência conciliatória designada","Audiência não conciliatória designada","Baixado definitivamente","Concluso","Distribuição cancelada","Tramitando","Recurso interno iniciado","Remetido","Sessão do juri designada","Suspenso/sobrestado por despacho judicial","Suspenso/sobrestado por decisão judicial","Suspenso/Sobrestado por IRDR","Suspenso/sobrestado por Recurso Repetitivo","Suspenso/sobrestado por Repercussão Geral","Perícia agendada","Perícia designada","Perícia reagendada","Concluso para despacho","Concluso para decisão","Concluso para julgamento","Concluso para admissibilidade recursal","Audiência conciliatória redesignada","Audiência não conciliatória redesignada","Sessão do juri redesignada","Pendente","Suspenso/sobrestado por Ação de Controle Concentrado de Constitucionalidade","Suspenso/sobrestado por Controvérsia","Suspenso/sobrestado por Grupo de Representativos","Suspenso/sobrestado por IAC","Suspenso/sobrestado por Recurso de Revista Repetitiva","Supenso/Sobrestado por SIRDR","Remetido para outra instância","Suspenso/sobrestado por prejudicialidade de RE","Sessão Restaurativa designada","Sessão Restaurativa redesignada","Redistribuído para outro Tribunal","Denúncia/queixa recebida","Distribuído","Execução não criminal iniciada","Recebido pelo Tribunal","Fase processual iniciada","Classe evoluída para ação penal","Liquidação iniciada","Ato infracional iniciado","Classe evoluída para ato infracional","Execução não criminal","Remetido em grau de recurso"]},{"name":"tribunal","in":"query","description":"Tribunal","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomSearchAfterResponse«TramitacaoMetricaOpenSearch»"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/metricas/casos-baixados":{"get":{"tags":["Metricas Datalake"],"summary":"Busca de processos por situações, fase e no período de 12 meses anteriores a partir da data atual.","description":"\"Filtros: fase: Conhecimento; Período: 12 meses anteriores a partir da data atual; Situações: Arquivado definitivamente, Baixado definitivamente, Distribuição cancelada, Remetido,  Execução não criminal, Liquidação iniciada, Fase processual iniciada, Remetido em grau de recurso ","operationId":"consultaCasosBaixadosUsingGET","produces":["application/json"],"parameters":[{"name":"anoReferencia","in":"query","description":"Ano Referencia.","required":false,"type":"string"},{"name":"searchAfter","in":"query","description":"Timestamp da data/hora do último movimento e Id do processo, sendo ambos os valores retornados na busca anterior para essa propriedade. Os valores devem estar separados por vírgula. A busca será realizada a partir desse ponto.","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomSearchAfterResponse«ProcessoMetricaCasosBaixadosOpenSearch»"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/metricas/casos-conclusos":{"get":{"tags":["Metricas Datalake"],"summary":"Busca de processos conclusos por situações, fase e no período de 12 meses anteriores a partir da data atual.","description":"Filtros: fase: Conhecimento; Período: 12 meses anteriores a partir da data atual; Situações: Concluso, Concluso para despacho, Concluso para decisão, Concluso para julgamento, Concluso para admissão recursal.","operationId":"consultaCasosConclusosUsingGET","produces":["application/json"],"parameters":[{"name":"anoReferencia","in":"query","description":"Ano Referencia.","required":false,"type":"string"},{"name":"searchAfter","in":"query","description":"Timestamp da data/hora do último movimento e Id do processo, sendo ambos os valores retornados na busca anterior para essa propriedade. Os valores devem estar separados por vírgula. A busca será realizada a partir desse ponto.","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomSearchAfterResponse«ProcessoMetricaCasosConclusosOpenSearch»"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/metricas/casos-novos":{"get":{"tags":["Metricas Datalake"],"summary":"Busca de processos por situações, fase e no período de 12 meses anteriores a partir da data atual.","description":"Filtros: fase: Conhecimento; Período: 12 meses anteriores a partir da data atual; Situações: Pendente, Denúncia/queixa recebida, Distribuído, Execução não criminal iniciada, Recebido pelo Tribunal, Fase processual iniciada, Classe evoluída para ação penal, Liquidação iniciada, Ato infracional iniciado, Classe evoluída para ato infracional.","operationId":"consultaCasosNovosUsingGET","produces":["application/json"],"parameters":[{"name":"anoReferencia","in":"query","description":"Ano Referencia.","required":false,"type":"string"},{"name":"searchAfter","in":"query","description":"Timestamp da data/hora do último movimento e Id do processo, sendo ambos os valores retornados na busca anterior para essa propriedade. Os valores devem estar separados por vírgula. A busca será realizada a partir desse ponto.","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomSearchAfterResponse«ProcessoMetricaCasosNovosOpenSearch»"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/metricas/casos-pendentes-bruto":{"get":{"tags":["Metricas Datalake"],"summary":"Busca de processos por situações, fase e no período de 12 meses anteriores a partir da data atual.","description":"\"Filtros: fase: Conhecimento; Período: 12 meses anteriores a partir da data atual; Situação: Pendente ","operationId":"consultaCasosPendentesBrutoUsingGET","produces":["application/json"],"parameters":[{"name":"anoReferencia","in":"query","description":"Ano Referencia.","required":false,"type":"string"},{"name":"searchAfter","in":"query","description":"Timestamp da data/hora do último movimento e Id do processo, sendo ambos os valores retornados na busca anterior para essa propriedade. Os valores devem estar separados por vírgula. A busca será realizada a partir desse ponto.","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomSearchAfterResponse«ProcessoMetricaCasosPendentesBrutoOpenSearch»"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/mtd/entregas-por-instancia":{"get":{"tags":["Mtd"],"summary":"Consulta a auditoria MTD de protocolos de entrega por instancia","description":"Consulta a auditoria MTD de protocolos de entrega por instancia","operationId":"recuperarAuditoriaDeProtocolosEntregaPorInstanciaUsingGET","produces":["*/*"],"parameters":[{"name":"instancia","in":"query","description":"valores esperados G1, G2, TR, JE, SUPA","required":false,"type":"string"},{"name":"mesReferencia","in":"query","description":"mesReferencia no formato yyyy-MM (ex: 2025-06)","required":true,"type":"string"},{"name":"tribunal","in":"query","description":" sigla do tribunal (ex: TJDFT, TRF1, TJSP)","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomResponse«QuantidadeAuditoriaMTDProtocoloDTO»"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/mtd/protocolos-datajud":{"get":{"tags":["Mtd"],"summary":"Consulta a auditoria MTD de protocolos de um processo","description":"Consulta a auditoria MTD de protocolos de um processo","operationId":"recuperarAuditoriaDeProtocolosDeProcessoUsingGET","produces":["*/*"],"parameters":[{"name":"numeroProcesso","in":"query","description":"Número do processo","required":false,"type":"string","allowEmptyValue":false},{"name":"protocolo","in":"query","description":"Protocolo MTD do processo","required":false,"type":"string","allowEmptyValue":false},{"name":"searchAfter","in":"query","description":"Timestamp da data/hora de atualização do protocolo, sendo valor retornado na busca anterior para essa propriedade. A busca será realizada a partir desse ponto. Esse valor deve ser copiado da propriedade searchAfter do resultado anterior e usado como ponto de partida para a próxima página.","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomSearchAfterResponse«AuditoriaMTDProtocolo»"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/recalcular":{"get":{"tags":["Situacao Fase Processual"],"summary":"Recalcular processos por números de processo","description":"Recalcular processos por uma lista de números de processo","operationId":"recalcularProcessosPorNumerosUsingGET","produces":["application/json"],"parameters":[{"name":"numeroProcesso","in":"query","description":"Lista de números de processo","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/stream/{numeroProcesso}":{"get":{"tags":["Processos Datalake"],"summary":"Em caráter EXPERIMENTAL - Busca detalhes do processo pelo número do processo. O retorno é feito por streaming","description":"Em caráter EXPERIMENTAL - Busca detalhes do processo pelo número do processo. O retorno é feito por streaming","operationId":"recuperarProcessoPorNumeroProcessoUsandoStreamingUsingGET","produces":["application/stream+json"],"parameters":[{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StreamingResponseBody"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}":{"get":{"tags":["Processos Datalake"],"summary":"Busca detalhes do processo pelo número do processo","description":"Busca detalhes do processo pelo número do processo","operationId":"recuperarProcessoPorNumeroProcessoUsingGET","produces":["application/json"],"parameters":[{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ProcessoS3"}}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/data-profilling":{"get":{"tags":["Processos Datalake - Refinado"],"summary":"consulta de processos data-proffiling","description":"Esse endpoint consulta processo data-profilling.","operationId":"consultaProcessosDataprofilingUsingGET","produces":["application/json"],"parameters":[{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/documentos":{"get":{"tags":["Processos Datalake"],"summary":"Busca a lista de documentos do processo pelo idProcesso ou numeroProcesso ","description":"Busca a lista de documentos do processo pelo idProcesso ou numeroProcesso","operationId":"consultarDocumentosUsingGET","produces":["application/json"],"parameters":[{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProcessoDocumento"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/documentos/{idDocumento}/binario":{"get":{"tags":["Processos Datalake"],"summary":"Busca documentos binarios do processo pelo idProcesso ou numeroProcesso e pelo idDocumento ","description":"Busca documentos binarios do processo pelo idProcesso ou numeroProcesso e pelo idDocumento","operationId":"recuperarDocumentoConteudoPorIdUsingGET","produces":["*/*"],"parameters":[{"name":"idDocumento","in":"path","description":"ID do documento","required":true,"type":"string"},{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StreamingResponseBody"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/documentos/{idDocumento}/binario-url":{"get":{"tags":["Processos Datalake"],"summary":"Retorna uma url temporária, para download do documento binario do processo, pelo idProcesso ou numeroProcesso e pelo idDocumento ","description":"Retorna uma url temporária, para download do documento binario do processo, pelo idProcesso ou numeroProcesso e pelo idDocumento. Em cache miss, retorna 202 + Retry-After: o cache esta sendo populado em background, cliente deve re-chamar apos N segundos.","operationId":"recuperarLinkComTempoDeExpiracaoParaArquivoBinarioDocumentoUsingGET","produces":["*/*"],"parameters":[{"name":"idDocumento","in":"path","description":"ID do documento","required":true,"type":"string"},{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/documentos/{idDocumento}/texto":{"get":{"tags":["Processos Datalake"],"summary":"Busca documentos textual do processo pelo idProcesso ou numeroProcesso e pelo idDocumento","description":"Busca documentos textual do processo pelo idProcesso ou numeroProcesso e pelo idDocumento","operationId":"recuperarDocumentoTextoPorIdUsingGET","produces":["application/json"],"parameters":[{"name":"idDocumento","in":"path","description":"ID do documento","required":true,"type":"string"},{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/existe":{"get":{"tags":["Processos Datalake"],"summary":"Indica se o processo existe","description":"Indica se o processo existe","operationId":"processoExisteUsingGET","produces":["application/json"],"parameters":[{"name":"cpfCnpj","in":"query","description":"Informe o cpf ou cnpj de uma parte ou representante para validação de existência do processo","required":false,"type":"string","allowEmptyValue":false,"x-example":"99999999999"},{"name":"jtr","in":"query","description":"Informe o jtr do tribunal para validação de existência do processo","required":false,"type":"string","allowEmptyValue":false,"x-example":"200"},{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/extratoIndicadores":{"get":{"tags":["Indicadores"],"summary":"Consulta de extrato de indicadores de um processo","description":"Esse endpoint consulta o extrato de indicadores de um processo.","operationId":"recuperarExtratoIndicadoresDeProcessoUsingGET","produces":["*/*"],"parameters":[{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/extratoSituacoes":{"get":{"tags":["Situacao Fase Processual"],"summary":"Consulta o extrato da situação processual de um processo","description":"Esse endpoint consulta o extrato da situação processual de um processo. Proxy do endpoint do serviço situacao-processual: api/processos/{numeroProcesso}/situacoes","operationId":"recuperarExtratoSituacaoProcessualUsingGET","produces":["application/json"],"parameters":[{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/minimo":{"get":{"tags":["Processos Datalake - Interno"],"summary":"Busca de processos através de filtros","description":"Busca para registros de dados mínimos de processos através de filtros para os campos indexados.","operationId":"consultaDadosMinimosUsingGET","produces":["application/json"],"parameters":[{"name":"cpfCnpj","in":"query","description":"Informe o cpf ou cnpj de uma parte ou representante para validação de existência do processo","required":false,"type":"string","allowEmptyValue":false,"x-example":"99999999999"},{"name":"jtr","in":"query","description":"Informe o jtr do tribunal para validação de existência do processo","required":false,"type":"string","allowEmptyValue":false,"x-example":"200"},{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TramiteInfoProcessoOpenSearchMinimo"}}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/movimentos":{"get":{"tags":["Processos Datalake"],"summary":"Busca movimentos pelo  idProcesso ou numeroProcesso ","description":"Busca movimentos do processo pelo  idProcesso ou numeroProcesso","operationId":"consultarMovimentosUsingGET","produces":["application/json"],"parameters":[{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProcessoMovimento"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/mtd":{"get":{"tags":["Mtd"],"summary":"Consulta o modelo de transferência de dados (MTD) de um processo","description":"Esse endpoint consulta o modelo de transferência de dados (MTD) de um processo. Proxy do endpoint do serviço MTD: api/processos/{numeroProcesso}/mtd","operationId":"recuperarMTDDeProcessoUsingGET","produces":["*/*"],"parameters":[{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/mtd/validador":{"get":{"tags":["Mtd"],"summary":"Consulta o modelo de transferência de dados (MTD) de um processo","description":"Esse endpoint consulta o modelo de transferência de dados (MTD) de um processo. Proxy do endpoint do serviço MTD: api/processos/{numeroProcesso}/mtd","operationId":"recuperarMTDDeProcessoValidadorUsingGET","produces":["application/json"],"parameters":[{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/partes":{"get":{"tags":["Processos Datalake"],"summary":"Busca a lista de documentos do processo pelo idProcesso ou numeroProcesso ","description":"Busca a lista de documentos do processo pelo idProcesso ou numeroProcesso","operationId":"consultarPartesUsingGET","produces":["application/json"],"parameters":[{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProcessoParte"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/possui-acesso":{"get":{"tags":["Processos Datalake"],"summary":"Indica se o usuário logado possui acesso, ou não, ao processo informado","description":"Indica se o usuário logado possui acesso, ou não, ao processo informado","operationId":"usuarioLogadoPossuiAcessoUsingGET","produces":["application/json"],"parameters":[{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/precedentesqualificados":{"get":{"tags":["Precedentes"],"summary":"Busca precedentes qualificados pelo  idProcesso ou numeroProcesso ","description":"Busca precedentes qualificados do processo pelo  idProcesso ou numeroProcesso","operationId":"consultarPrecedentesQualificadosUsingGET","produces":["application/json"],"parameters":[{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/recuperarDocumentoTexto":{"get":{"tags":["Processos Datalake"],"summary":"Busca LISTA de documentos textual de um processo pelo numeroProcesso e pelo(s) idDocumento(s), limitados a 50 documentos","description":"Busca LISTA de documentos textual de um processo pelo numeroProcesso e pelo(s) idDocumento(s), limitados a 50 documentos","operationId":"recuperarProcessoComDocumentoTextoUsingGET","produces":["application/json","text/plain"],"parameters":[{"name":"idDocumento","in":"query","description":"ID do documento","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/refined":{"get":{"tags":["Processos Datalake - Refinado"],"summary":"Consulta de processos refined","description":"Esse endpoint consulta processo refined.","operationId":"recuperarProcessoRefinedUsingGET","produces":["application/json"],"parameters":[{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/saneamento":{"get":{"tags":["Saneamento"],"summary":"Consulta o arquivo de saneamento de um processo","description":"Esse endpoint consulta o arquivo de saneamento de um processo.","operationId":"recuperarArquivoDeSaneamentoDeProcessoUsingGET","produces":["*/*"],"parameters":[{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/situacoes":{"get":{"tags":["Processos Datalake"],"summary":"Consulta a situação e a fase processual de um processo","description":"Esse endpoint consulta a situação e a fase processual de um processo. Proxy do endpoint do serviço situacao-processual: api/processos/{numeroProcesso}/situacoes","operationId":"recuperarSituacoesDeProcessoUsingGET","produces":["application/json"],"parameters":[{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SituacaoProcessualDTO"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos/{numeroProcesso}/ultima-atualizacao":{"head":{"tags":["Processos Datalake"],"summary":"Retorna a data e hora da última atualização do processo no Data Lake","description":"Retorna a data e hora da última atualização do processo no Data Lake","operationId":"ultimaAtualizacaoProcessoUsingHEAD","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos:contar":{"get":{"tags":["Processos Datalake"],"summary":"Busca o total de registros de processo através de filtros","description":"Busca o total de registros de processo através de filtros para os campos indexados","operationId":"contadorProcessosUsingGET","produces":["*/*"],"parameters":[{"name":"cpfCnpjParte","in":"query","description":"Número do CPF ou CNPJ da parte. Informe com ou sem formatação (ex.: 111.111.111-11, 11.111.111/0001-11, 11.ABC.111/0001-11 (alfanumérico))","required":false,"type":"string"},{"name":"cpfRepresentante","in":"query","description":"Número do CPF  do representante. Informe com formatação (ex.: CPF: 111.111.111-11) ou somente números","required":false,"type":"string"},{"name":"dataHoraAtualizacaoFim","in":"query","description":"Data e hora de conclusão da atualização do processo no Data Lake. Informe com a formatação yyyy-MM-dd'T'HH:mm:ss.SSS. Exemplo: 2024-01-01T00:00:00.000. A busca é feita com a data/hora informada e com as anteriores a partir dela.","required":false,"type":"string"},{"name":"dataHoraAtualizacaoInicio","in":"query","description":"Data e hora de início da atualização do processo no Data Lake. Informe com a formatação yyyy-MM-dd'T'HH:mm:ss.SSS. Exemplo: 2024-01-01T00:00:00.000. A busca é feita com a data/hora informada e com as pŕoximas a partir dela.","required":false,"type":"string"},{"name":"dataHoraPrimeiroAjuizamentoFim","in":"query","description":"Data e hora de conclusão do primeiro ajuizamento do processo. Informe com a formatação yyyy-MM-dd'T'HH:mm:ss.SSS. Exemplo: 2024-01-01T00:00:00.000. A busca é feita com a data/hora informada e com as anteriores a partir dela.","required":false,"type":"string"},{"name":"dataHoraPrimeiroAjuizamentoInicio","in":"query","description":"Data e hora de início do primeiro ajuizamento do processo. Informe com a formatação yyyy-MM-dd'T'HH:mm:ss.SSS. Exemplo: 2024-01-01T00:00:00.000. A busca é feita com a data/hora informada e com as pŕoximas a partir dela.","required":false,"type":"string"},{"name":"href","in":"query","description":"Caminho para endpoint pessoas seguido pelo idPessoa. Exemplo: '/pessoas/1fe353ba-98a2-5ba7-889b-324e2e901d09' ","required":false,"type":"string"},{"name":"id","in":"query","description":"Id do processo","required":false,"type":"string"},{"name":"idAssuntoJudicial","in":"query","description":"Id do assunto judicial. Os ids devem estar separados por vírgulas e devem ser numéricos. Exemplo: 7, 40, 120, 436","required":false,"type":"string"},{"name":"idClasse","in":"query","description":"Códigos das classes. Os códigos devem estar separados por vírgulas e devem ser numéricos. Exemplo: 7, 40, 120, 436","required":false,"type":"string"},{"name":"idFonteDadosCodex","in":"query","description":"idFonteDadosCodex do processo","required":false,"type":"string"},{"name":"idOrgaoJulgador","in":"query","description":"Identificador do órgão julgador. Exemplo: 12345.","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"instancia","in":"query","description":"Instância do processo","required":false,"type":"string"},{"name":"nomeParte","in":"query","description":"Nome da Parte","required":false,"type":"string"},{"name":"nomeRepresentante","in":"query","description":"nome do representante","required":false,"type":"string"},{"name":"numeroHistorico","in":"query","description":"Número histórico que identifica de forma única a tramitação do processo dentro do sistema do Supremo Tribunal Federal (STF). Exemplo: HC-244185","required":false,"type":"string"},{"name":"numeroProcesso","in":"query","description":"Número do processo","required":false,"type":"string"},{"name":"numeroProcessoSintetico","in":"query","description":"Número sintético do processo","required":false,"type":"string"},{"name":"oabRepresentante","in":"query","description":"Código/número do representante OAB","required":false,"type":"string"},{"name":"outroNomeParte","in":"query","description":"Outro nome da parte","required":false,"type":"string"},{"name":"poloParte","in":"query","description":"Polo da parte.","required":false,"type":"string"},{"name":"segmentoJustica","in":"query","description":"Segmento Justiça do processo. Selecione uma das opções válidas.","required":false,"type":"string","enum":["JUSTICA_MILITAR_UNIAO","JUSTICA_MILITAR_ESTADUAL","JUSTICA_TRABALHO","JUSTICA_ELEITORAL","JUSTICA_FEDERAL","JUSTICA_ESTADUAL","SUPERIOR_TRIBUNAL_JUSTICA","SUPREMO_TRIBUNAL_FEDERAL","CONSELHO_NACIONAL_JUSTICA"]},{"name":"situacaoParte","in":"query","description":"Situação da parte.","required":false,"type":"string"},{"name":"tribunal","in":"query","description":"Tribunal. As siglas dos tribunais devem estar separadas por vírgulas. Máximo de 5 (cinco) tribunais. Exemplo: TJDFT, TJSP, TJMG","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"JWT":["global"]}],"deprecated":false}},"/api/v1/processos:modificados-no-dia-anterior":{"get":{"tags":["Processos Datalake"],"summary":"Listar URL's para download dos processos judiciais modificados no dia anterior","description":"Listar URL's para download dos processos judiciais modificados no dia anterior","operationId":"listarURLsProcessosJudiciaisModificadosNoDiaAnteriorUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}}},"securityDefinitions":{"JWT":{"type":"apiKey","name":"Authorization","in":"header"}},"definitions":{"ArquivoS3":{"type":"object","properties":{"id":{"type":"string","description":"Identificador do arquivo. Exemplo: \"50235a19-e4e5-5292-aca3-981904f3bf6c\"."},"idCodex":{"type":"integer","format":"int64","description":"Identificador do arquivo no Codex. Exemplo: 12345678910."},"tipo":{"type":"string","description":"Tipo de arquivo. Pode ser um dos 23 valores pré-definidos, abrangendo documentos (doc, docx, odt, pdf), imagens (vários formatos), áudio (vários formatos), vídeo (vários formatos) ou não identificado. Exemplo: \"TEXT_HTML\"."},"quantidadePaginas":{"type":"integer","format":"int64","description":"Quantidade de páginas no documento. Exemplo: 10."},"quantidadeImagens":{"type":"integer","format":"int64","description":"Quantidade de imagens no documento. Exemplo: 5."},"tamanho":{"type":"integer","format":"int64","description":"Tamanho do arquivo em bytes. Exemplo: 12345."},"tamanhoTexto":{"type":"integer","format":"int64","description":"Tamanho do texto do arquivo em quantidade de caracteres. Exemplo: 12345."}},"title":"ArquivoS3"},"AssuntoOpenSearch":{"type":"object","properties":{"codigo":{"type":"integer","format":"int64","description":"Código do assunto atual conforme TPU de assuntos. Exemplo: \"11631\"."},"descricao":{"type":"string","description":"Descrição do assunto de acordo com TPU de assuntos. Exemplo: “Cargo - Deputado Federal\"."},"hierarquia":{"type":"string","description":"Ordem crescente do assunto em relação aos níveis da TPU de assuntos. Exemplo:\"(11631) Cargo - Deputado Federal | (11628) Cargos | (11583) Eleições | (11428) DIREITO ELEITORAL\"."},"outrosAssuntos":{"type":"array","description":"Lista de outros assuntos relacionados. ","items":{"$ref":"#/definitions/OutrosAssuntosOpenSearch"}},"assunto_secundario":{"type":"string","description":"Indicador se o assunto é principal ou complementar. Quando for igual a 'N', ele é principal, ou seja, é o tema central que define a natureza da ação; quando for igual a 'S', ele é complementar, ou seja, é o tema acessório que detalha o tema principal."}},"title":"AssuntoOpenSearch"},"AssuntoS3":{"type":"object","properties":{"codigo":{"type":"integer","format":"int64","description":"Código do assunto atual conforme TPU de assuntos. Exemplo: \"11631\"."},"descricao":{"type":"string","description":"Descrição do assunto de acordo com TPU de assuntos. Exemplo: “Cargo - Deputado Federal\"."},"hierarquia":{"type":"string","description":"Ordem crescente do assunto em relação aos níveis da TPU de assuntos. Exemplo:\"(11631) Cargo - Deputado Federal | (11628) Cargos | (11583) Eleições | (11428) DIREITO ELEITORAL\"."},"outrosAssuntos":{"type":"array","description":"Lista de outros assuntos relacionados. Modelo detalhado abaixo ","items":{"$ref":"#/definitions/OutrosAssuntosS3"}},"assunto_secundario":{"type":"string","description":"Indicador se o assunto é principal ou complementar. Quando for igual a 'N', ele é principal, ou seja, é o tema central que define a natureza da ação; quando for igual a 'S', ele é complementar, ou seja, é o tema acessório que detalha o tema principal."}},"title":"AssuntoS3"},"AuditoriaAgrupadoDTO":{"type":"object","properties":{"porDia":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}},"totalGeral":{"type":"integer","format":"int64"}},"title":"AuditoriaAgrupadoDTO"},"AuditoriaDTO":{"type":"object","properties":{"@timestamp":{"type":"string"},"classe":{"type":"string"},"clientId":{"type":"string"},"email":{"type":"string"},"idFonteDadosCodex":{"type":"string"},"modulo":{"type":"string"},"nome":{"type":"string"},"oab":{"type":"string"},"parametro":{"type":"string"},"projeto":{"type":"string"},"requisicao":{"type":"string"},"retorno":{"type":"string"},"siglaTribunal":{"type":"string"},"statusCode":{"type":"integer","format":"int32"},"tempoExecucao":{"type":"integer","format":"int64"},"tempoExpiracaoToken":{"type":"integer","format":"int32"},"uriRequisicao":{"type":"string"},"usuario":{"type":"string"},"uuid":{"type":"string"}},"title":"AuditoriaDTO"},"AuditoriaMTDProtocolo":{"type":"object","properties":{"id":{"type":"string"},"siglaTribunal":{"type":"string"},"instancia":{"type":"string"},"dataHoraAtualizacao":{"type":"string","description":"Data e hora da última atualização do protocolo no Datalake. Exemplo: \"2023-01-01T12:00:00\"."},"statusCode":{"type":"string"},"numeroProcesso":{"type":"string","description":"Número do processo. Exemplo: \"00012345620238260000\". "},"protocolos":{"$ref":"#/definitions/Protocolo"}},"title":"AuditoriaMTDProtocolo"},"CadastroReceitaFederalRepresentanteOpenSearch":{"type":"object","properties":{"numero":{"type":"string","description":"Número do cadastro do representante na Receita Federal. Exemplo: \"12345678901\""},"tipo":{"type":"string","description":"Tipo de cadastro do representante, podendo ser CPF (Cadastro de Pessoa Física) ou CNPJ (Cadastro Nacional de Pessoa Jurídica). Exemplo: \"CPF\"."}},"title":"CadastroReceitaFederalRepresentanteOpenSearch"},"CadastroReceitaFederalS3":{"type":"object","properties":{"numero":{"type":"string","description":"Número do cadastro na Receita Federal. Exemplo: 12345678901. "},"tipo":{"type":"string","description":"Tipo de cadastro, podendo ser CPF (Cadastro de Pessoa Física) ou CNPJ (Cadastro Nacional de Pessoa Jurídica). Exemplo: \"CPF\". "}},"title":"CadastroReceitaFederalS3"},"ClasseMovimentoS3":{"type":"object","properties":{"codigo":{"type":"integer","format":"int64","description":"Código da classe associada ao movimento, conforme TPU de classes. Exemplo: \"12193\"."},"descricao":{"type":"string","description":"Descrição da classe associada ao movimento, de acordo com TPU de classes. Exemplo: “Prestação de Contas Eleitorais”."}},"title":"ClasseMovimentoS3"},"ClasseOpenSearch":{"type":"object","properties":{"codigo":{"type":"integer","format":"int64","description":"Código da classe atual conforme TPU de classes. Exemplo: \"12193\"."},"descricao":{"type":"string","description":"Descrição da classe de acordo com TPU de classes. Exemplo: “Prestação de Contas Eleitorais”."},"hierarquia":{"type":"string","description":"Ordem crescente da classe em relação aos níveis da TPU de classes. Exemplo: \"(11531) Prestação de Contas Eleitorais| (11529) Procedimentos Relativos a Realização de Eleição | (11427) PROCESSO ELEITORAL\"."},"polo_passivo":{"type":"string","description":"Indicador de designação a ser adotada para polos passivo e ativo. Exemplo: processos que tenham a classe 1107 - Procedimento Comum Cível, terão a designação para polo ativo = 'Autor' e polo passivo = 'Réu'"},"polo_ativo":{"type":"string","description":"Indicador de designação a ser adotada para polos passivo e ativo. Exemplo: processos que tenham a classe 1107 - Procedimento Comum Cível, terão a designação para polo ativo = 'Autor' e polo passivo = 'Réu'"}},"title":"ClasseOpenSearch"},"ClasseProcessoRelacionadoS3":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Identificador da classe do processo relacionado conforme TPU de classes. Exemplo: \"12193\","},"descricao":{"type":"string","description":"Descrição da classe do processo relacionado de acordo com TPU de classes. Exemplo: “Prestação de Contas Eleitorais”."}},"title":"ClasseProcessoRelacionadoS3"},"ClasseS3":{"type":"object","properties":{"sequencia":{"type":"integer","format":"int64","description":"Registro da sequência da classe no referido processo. É gerada uma sequência de acordo com a ordenação crescente da data início. "},"dataHoraInicio":{"type":"string","description":"Data e hora de início da classe. Exemplo: \"2023-01-01T12:00:00\". "},"codigo":{"type":"integer","format":"int64","description":"Código da classe atual conforme TPU de classes. Exemplo: \"12193\"."},"descricao":{"type":"string","description":"Descrição da classe de acordo com TPU de classes. Exemplo: “Prestação de Contas Eleitorais”."},"hierarquia":{"type":"string","description":"Ordem crescente da classe em relação aos níveis da TPU de classes. Exemplo: \"(11531) Prestação de Contas Eleitorais| (11529) Procedimentos Relativos a Realização de Eleição | (11427) PROCESSO ELEITORAL\"."},"historico":{"type":"array","description":"Lista do histórico das classes. ","items":{"$ref":"#/definitions/HistoricoS3"}},"polo_passivo":{"type":"string","description":"Indicador de designação a ser adotada para polos passivo e ativo. Exemplo: processos que tenham a classe 1107 - Procedimento Comum Cível, terão a designação para polo ativo = 'Autor' e polo passivo = 'Réu'"},"polo_ativo":{"type":"string","description":"Indicador de designação a ser adotada para polos passivo e ativo. Exemplo: processos que tenham a classe 1107 - Procedimento Comum Cível, terão a designação para polo ativo = 'Autor' e polo passivo = 'Réu'"}},"title":"ClasseS3"},"ClasseUltimoMovimentoOpenSearch":{"type":"object","properties":{"codigo":{"type":"integer","format":"int64","description":"Código da classe associada ao último movimento, conforme TPU de classes. Exemplo: \"12193\"."},"descricao":{"type":"string","description":"Descrição da classe associada ao último movimento, de acordo com TPU de classes. Exemplo: “Prestação de Contas Eleitorais”."}},"title":"ClasseUltimoMovimentoOpenSearch"},"CompetenciaOpenSearch":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"identificador da competência"},"idLocal":{"type":"integer","format":"int64","description":"identificador do local vinculado à competência"},"nome":{"type":"string","description":"nome descritivo da competência"}},"title":"CompetenciaOpenSearch"},"CompetenciaS3":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"identificador da competência"},"idLocal":{"type":"integer","format":"int64","description":"identificador do local vinculado à competência"},"nome":{"type":"string","description":"nome descritivo da competência"}},"title":"CompetenciaS3"},"ComplementoS3":{"type":"object","properties":{"codigo":{"type":"integer","format":"int64","description":"Código do complemento do movimento, de acordo com a tabela de complementos de movimentos da TPU movimentos. Exemplo: \"4\""},"nome":{"type":"string","description":"Nome do complemento do movimento, de acordo com a tabela de complementos de movimentos da TPU movimentos. Exemplo: \"tipo_de_documento\"."},"idComplementoOrigem":{"type":"string","description":"Identificador do complemento do movimento na origem. Exemplos: \"SG5SP_RI0081H9Z0000_38_0\" e \"12345678\"."},"categoria":{"type":"string","description":"Categoria do complemento do movimento, podendo ser: LIVRE: complemento que não está predefinido no sistema processual ou no registro do processo, exigindo preenchimento desses dados; TABELADO: complemento que possui valores e códigos predeterminados nas TPUs, permitindo a sua vinculação direta ao movimento; e IDENTIFICADOR: complemento que estiver disponível no sistema informatizado ou no registro do processo, permitindo a sua vinculação ao movimento, mas que não possui valores predeterminados em nível nacional. "},"valor":{"description":"Valor do complemento. ","$ref":"#/definitions/ValorS3"}},"title":"ComplementoS3"},"CustomPageResponse«AuditoriaDTO»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/AuditoriaDTO"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"maxPageSizeElements":{"type":"integer","format":"int32"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int64"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}},"title":"CustomPageResponse«AuditoriaDTO»"},"CustomResponse«QuantidadeAuditoriaMTDProtocoloDTO»":{"type":"object","properties":{"total":{"type":"integer","format":"int64","description":"Total de registros para a busca realizada. Exemplo: 1000."},"numberOfElements":{"type":"integer","format":"int32","description":"Quantidade de registros para a busca realizada. Exemplo: 100."},"maxElementsSize":{"type":"integer","format":"int64","description":"Quantidade máxima de registros que podem ser retornados por consulta. Exemplo: 100."},"content":{"type":"array","description":"Lista de processos retornados na consulta.","items":{"$ref":"#/definitions/QuantidadeAuditoriaMTDProtocoloDTO"}}},"title":"CustomResponse«QuantidadeAuditoriaMTDProtocoloDTO»"},"CustomSearchAfterResponse«AuditoriaMTDProtocolo»":{"type":"object","properties":{"total":{"type":"integer","format":"int64","description":"Total de registros para a busca realizada. Exemplo: 1000."},"numberOfElements":{"type":"integer","format":"int32","description":"Quantidade de registros para a busca realizada. Exemplo: 100."},"maxElementsSize":{"type":"integer","format":"int64","description":"Quantidade máxima de registros que podem ser retornados por consulta. Exemplo: 100."},"searchAfter":{"type":"array","description":"Timestamp da data/hora do último movimento e Id do processo, sendo ambos os valores retornados na busca anterior para essa propriedade. Os valores devem estar separados por vírgula. A busca será realizada a partir desse ponto. Exemplo: 1744391412000,\"50421427220248240090\".","items":{"type":"object"}},"content":{"type":"array","description":"Lista de processos retornados na consulta.","items":{"$ref":"#/definitions/AuditoriaMTDProtocolo"}}},"title":"CustomSearchAfterResponse«AuditoriaMTDProtocolo»"},"CustomSearchAfterResponse«ProcessoMetricaCasosBaixadosOpenSearch»":{"type":"object","properties":{"total":{"type":"integer","format":"int64","description":"Total de registros para a busca realizada. Exemplo: 1000."},"numberOfElements":{"type":"integer","format":"int32","description":"Quantidade de registros para a busca realizada. Exemplo: 100."},"maxElementsSize":{"type":"integer","format":"int64","description":"Quantidade máxima de registros que podem ser retornados por consulta. Exemplo: 100."},"searchAfter":{"type":"array","description":"Timestamp da data/hora do último movimento e Id do processo, sendo ambos os valores retornados na busca anterior para essa propriedade. Os valores devem estar separados por vírgula. A busca será realizada a partir desse ponto. Exemplo: 1744391412000,\"50421427220248240090\".","items":{"type":"object"}},"content":{"type":"array","description":"Lista de processos retornados na consulta.","items":{"$ref":"#/definitions/ProcessoMetricaCasosBaixadosOpenSearch"}}},"title":"CustomSearchAfterResponse«ProcessoMetricaCasosBaixadosOpenSearch»"},"CustomSearchAfterResponse«ProcessoMetricaCasosConclusosOpenSearch»":{"type":"object","properties":{"total":{"type":"integer","format":"int64","description":"Total de registros para a busca realizada. Exemplo: 1000."},"numberOfElements":{"type":"integer","format":"int32","description":"Quantidade de registros para a busca realizada. Exemplo: 100."},"maxElementsSize":{"type":"integer","format":"int64","description":"Quantidade máxima de registros que podem ser retornados por consulta. Exemplo: 100."},"searchAfter":{"type":"array","description":"Timestamp da data/hora do último movimento e Id do processo, sendo ambos os valores retornados na busca anterior para essa propriedade. Os valores devem estar separados por vírgula. A busca será realizada a partir desse ponto. Exemplo: 1744391412000,\"50421427220248240090\".","items":{"type":"object"}},"content":{"type":"array","description":"Lista de processos retornados na consulta.","items":{"$ref":"#/definitions/ProcessoMetricaCasosConclusosOpenSearch"}}},"title":"CustomSearchAfterResponse«ProcessoMetricaCasosConclusosOpenSearch»"},"CustomSearchAfterResponse«ProcessoMetricaCasosNovosOpenSearch»":{"type":"object","properties":{"total":{"type":"integer","format":"int64","description":"Total de registros para a busca realizada. Exemplo: 1000."},"numberOfElements":{"type":"integer","format":"int32","description":"Quantidade de registros para a busca realizada. Exemplo: 100."},"maxElementsSize":{"type":"integer","format":"int64","description":"Quantidade máxima de registros que podem ser retornados por consulta. Exemplo: 100."},"searchAfter":{"type":"array","description":"Timestamp da data/hora do último movimento e Id do processo, sendo ambos os valores retornados na busca anterior para essa propriedade. Os valores devem estar separados por vírgula. A busca será realizada a partir desse ponto. Exemplo: 1744391412000,\"50421427220248240090\".","items":{"type":"object"}},"content":{"type":"array","description":"Lista de processos retornados na consulta.","items":{"$ref":"#/definitions/ProcessoMetricaCasosNovosOpenSearch"}}},"title":"CustomSearchAfterResponse«ProcessoMetricaCasosNovosOpenSearch»"},"CustomSearchAfterResponse«ProcessoMetricaCasosPendentesBrutoOpenSearch»":{"type":"object","properties":{"total":{"type":"integer","format":"int64","description":"Total de registros para a busca realizada. Exemplo: 1000."},"numberOfElements":{"type":"integer","format":"int32","description":"Quantidade de registros para a busca realizada. Exemplo: 100."},"maxElementsSize":{"type":"integer","format":"int64","description":"Quantidade máxima de registros que podem ser retornados por consulta. Exemplo: 100."},"searchAfter":{"type":"array","description":"Timestamp da data/hora do último movimento e Id do processo, sendo ambos os valores retornados na busca anterior para essa propriedade. Os valores devem estar separados por vírgula. A busca será realizada a partir desse ponto. Exemplo: 1744391412000,\"50421427220248240090\".","items":{"type":"object"}},"content":{"type":"array","description":"Lista de processos retornados na consulta.","items":{"$ref":"#/definitions/ProcessoMetricaCasosPendentesBrutoOpenSearch"}}},"title":"CustomSearchAfterResponse«ProcessoMetricaCasosPendentesBrutoOpenSearch»"},"CustomSearchAfterResponse«ProcessoParteHrefDTO»":{"type":"object","properties":{"total":{"type":"integer","format":"int64","description":"Total de registros para a busca realizada. Exemplo: 1000."},"numberOfElements":{"type":"integer","format":"int32","description":"Quantidade de registros para a busca realizada. Exemplo: 100."},"maxElementsSize":{"type":"integer","format":"int64","description":"Quantidade máxima de registros que podem ser retornados por consulta. Exemplo: 100."},"searchAfter":{"type":"array","description":"Timestamp da data/hora do último movimento e Id do processo, sendo ambos os valores retornados na busca anterior para essa propriedade. Os valores devem estar separados por vírgula. A busca será realizada a partir desse ponto. Exemplo: 1744391412000,\"50421427220248240090\".","items":{"type":"object"}},"content":{"type":"array","description":"Lista de processos retornados na consulta.","items":{"$ref":"#/definitions/ProcessoParteHrefDTO"}}},"title":"CustomSearchAfterResponse«ProcessoParteHrefDTO»"},"CustomSearchAfterResponse«TramitacaoMetricaOpenSearch»":{"type":"object","properties":{"total":{"type":"integer","format":"int64","description":"Total de registros para a busca realizada. Exemplo: 1000."},"numberOfElements":{"type":"integer","format":"int32","description":"Quantidade de registros para a busca realizada. Exemplo: 100."},"maxElementsSize":{"type":"integer","format":"int64","description":"Quantidade máxima de registros que podem ser retornados por consulta. Exemplo: 100."},"searchAfter":{"type":"array","description":"Timestamp da data/hora do último movimento e Id do processo, sendo ambos os valores retornados na busca anterior para essa propriedade. Os valores devem estar separados por vírgula. A busca será realizada a partir desse ponto. Exemplo: 1744391412000,\"50421427220248240090\".","items":{"type":"object"}},"content":{"type":"array","description":"Lista de processos retornados na consulta.","items":{"$ref":"#/definitions/TramitacaoMetricaOpenSearch"}}},"title":"CustomSearchAfterResponse«TramitacaoMetricaOpenSearch»"},"CustomSearchAfterResponse«TramiteInfoProcessoOpenSearch»":{"type":"object","properties":{"total":{"type":"integer","format":"int64","description":"Total de registros para a busca realizada. Exemplo: 1000."},"numberOfElements":{"type":"integer","format":"int32","description":"Quantidade de registros para a busca realizada. Exemplo: 100."},"maxElementsSize":{"type":"integer","format":"int64","description":"Quantidade máxima de registros que podem ser retornados por consulta. Exemplo: 100."},"searchAfter":{"type":"array","description":"Timestamp da data/hora do último movimento e Id do processo, sendo ambos os valores retornados na busca anterior para essa propriedade. Os valores devem estar separados por vírgula. A busca será realizada a partir desse ponto. Exemplo: 1744391412000,\"50421427220248240090\".","items":{"type":"object"}},"content":{"type":"array","description":"Lista de processos retornados na consulta.","items":{"$ref":"#/definitions/TramiteInfoProcessoOpenSearch"}}},"title":"CustomSearchAfterResponse«TramiteInfoProcessoOpenSearch»"},"DadosIBGE":{"type":"object","properties":{"codIbge":{"type":"string","description":"Código IBGE "},"codCidade":{"type":"integer","format":"int32","description":"Código cidade "},"nomeCidade":{"type":"string","description":"Nome da cidade "},"sigUf":{"type":"string","description":"Sigla UF "}},"title":"DadosIBGE"},"DistribuicoesS3":{"type":"object","properties":{"sequencia":{"type":"integer","format":"int64","description":"Registro de qual a sequência da distribuição no referido processo. Exemplo: “1“ ; “2 “ ; “3” "},"dataHora":{"type":"string","description":"Data e hora da distribuição. Exemplo: \"2023-01-01T12:00:00\". "},"id":{"type":"string","description":"Uso de controle interno que não é objeto de consumo negocial. Identificador da distribuição. Número gerado pelo próprio sistema. Exemplo: \"\"69cafeb9-8c22-5e7d-b104-15d47db84474\"\"."},"idCodex":{"type":"integer","format":"int64","description":"Identificador da distribuição no Codex. Exemplo: 123456789."},"orgaoJulgador":{"type":"array","description":"Lista de Órgão julgador. ","items":{"$ref":"#/definitions/OrgaoJulgadorS3"}},"orgaoJulgadorLocal":{"description":"Órgão julgador local. ","$ref":"#/definitions/OrgaoJulgadorLocalS3"},"orgaoJulgadorColegiado":{"type":"array","description":"Lista de Órgão julgador colegiado. ","items":{"$ref":"#/definitions/OrgaoJulgadorColegiadoS3"}}},"title":"DistribuicoesS3"},"DocumentoPrincipalOpenSearch":{"type":"object","properties":{"numero":{"type":"string","description":"Número do documento principal. Exemplo: 12345678. "},"tipo":{"type":"string","description":"Tipo de documento da parte. Admite os seguintes valores: CI: carteira de identidade; CNH: carteira nacional de habilitação; TE: título de eleitor; CN: certidão de nascimento; CC: certidão de casamento; PAS: passaporte; CT: carteira de trabalho; RIC: registro individual do cidadão; CPF: cadastro de pessoa física; CNPJ: cadastro nacional de pessoa jurídica; PIS_PASEP: número no programa de integração social; CEI: cadastro específico do INSS; NIT: número de identificação do trabalho; CP: cadastro em conselhos profissionais; IF: identidade funcional; OAB: número de cadastro na Ordem dos Advogados do Brasi; RJC: número de inscrição empresarial; RGE: registro de identificação do estrangeiro; NB: número do benefício no INSS; RIND: Registro de identificação de indígenas ou de povos e comunidades tradicionais; RJI: Registro Judiciário Individual, gerado pelo CNJ conforme BNMP; OUTROS: Outros (para certificado de reservista, por exemplo)."}},"title":"DocumentoPrincipalOpenSearch"},"DocumentoS3":{"type":"object","properties":{"sequencia":{"type":"integer","format":"int64","description":"Registro de qual a sequência do documento no referido processo. É gerado em ordem ascendente da data da juntada do próprio documento.   Exemplo: 1  ;  2  ;  3  ;  4 "},"dataHoraJuntada":{"type":"string","description":"Data e hora da última juntada do documento no processo. Exemplo: \"2023-01-01T12:00:00\". "},"id":{"type":"string","description":"Uso de controle interno que não é objeto de consumo negocial. Identificador de um documento juntado ao processo, como petições, decisões, e outros textos processuais. Número gerado pelo próprio sistema. Exemplo: \"\"77d6373b-cb05-568c-8ad3-258875baf91b\"."},"idCodex":{"type":"integer","format":"int64","description":"Identificador do documento no Codex. Exemplo: 12345678910."},"idOrigem":{"type":"string","description":"Identificador do documento na origem. Exemplo: \"12345678\"."},"nome":{"type":"string","description":"Nome do documento Exemplo: “295505_05052021160734_GuiaCustas BA.pdf”."},"nivelSigilo":{"type":"string","description":"Nível de sigilo a ser aplicado ao documento, devendo ser: PUBLICO: públicos, acessíveis a todos os servidores do Judiciário e dos demais órgãos públicos de colaboração na administração da Justiça, assim como aos advogados e a qualquer cidadão; SEGREDO_JUSTICA: segredo de justiça, acessíveis aos servidores do Judiciário, aos servidores dos órgãos públicos de colaboração na administração da Justiça e às partes do processo; SIGILO_MINIMO: sigilo mínimo, acessível aos servidores do Judiciário e aos demais órgãos públicos de colaboração na administração da Justiça; SIGILO_MEDIO: sigilo médio, acessível aos servidores do órgão em que tramita o processo, à(s) parte(s) que provocou(ram) o incidente e àqueles que forem expressamente incluídos; SIGILO_INTENSO: sigilo intenso, acessível a classes de servidores qualificados (magistrado, diretor de secretaria/escrivão, oficial de gabinete/assessor) do órgão em que tramita o processo, às partes que provocaram o incidente e àqueles que forem expressamente incluídos; SIGILO_ABSOLUTO: sigilo absoluto, acessível apenas ao magistrado do órgão em que tramita, aos servidores e demais usuários por ele indicado e às partes que provocaram o incidente."},"tipo":{"description":"Tipo de documento. ","$ref":"#/definitions/TipoDocumentoS3"},"arquivo":{"description":"Lista de Arquivos associados ao documento. ","$ref":"#/definitions/ArquivoS3"},"signatarios":{"type":"array","description":"Lista de Signatários do documento. ","items":{"$ref":"#/definitions/SignatarioS3"}}},"title":"DocumentoS3"},"DocumentosPrincipaisS3":{"type":"object","properties":{"numero":{"type":"string","description":"Número do documento principal. Exemplo: 12345678. "},"tipo":{"type":"string","description":"Tipo de documento da parte. Admite os seguintes valores: CI: carteira de identidade; CNH: carteira nacional de habilitação; TE: título de eleitor; CN: certidão de nascimento; CC: certidão de casamento; PAS: passaporte; CT: carteira de trabalho; RIC: registro individual do cidadão; CPF: cadastro de pessoa física; CNPJ: cadastro nacional de pessoa jurídica; PIS_PASEP: número no programa de integração social; CEI: cadastro específico do INSS; NIT: número de identificação do trabalho; CP: cadastro em conselhos profissionais; IF: identidade funcional; OAB: número de cadastro na Ordem dos Advogados do Brasi; RJC: número de inscrição empresarial; RGE: registro de identificação do estrangeiro; NB: número do benefício no INSS; RIND: Registro de identificação de indígenas ou de povos e comunidades tradicionais; RJI: Registro Judiciário Individual, gerado pelo CNJ conforme BNMP; OUTROS: Outros (para certificado de reservista, por exemplo)."}},"title":"DocumentosPrincipaisS3"},"EnderecoS3":{"type":"object","properties":{"idEndereco":{"type":"integer","format":"int64","description":"Identificador do endereço. Exemplo: 123456789."},"logradouro":{"type":"string","description":"Logradouro do endereço. Exemplo: \"Av. Brasil\"."},"numero":{"type":"string","description":"Número do endereço. Exemplo: \"123\"."},"complemento":{"type":"string","description":"Complemento do endereço. Exemplo: \"Apto 01\"."},"bairro":{"type":"string","description":"Bairro do endereço. Exemplo: \"Centro\"."},"cep":{"type":"string","description":"CEP do endereço. Exemplo: \"00000-000\"."},"localidade":{"type":"string","description":"Localidade do endereço. Exemplo: \"BRASÍLIA\"."},"uf":{"description":"Unidade Federativa do endereço. ","$ref":"#/definitions/UfS3"},"pais":{"description":"País do endereço. ","$ref":"#/definitions/PaisS3"}},"title":"EnderecoS3"},"Envio":{"type":"object","properties":{"dataHora":{"type":"string","description":"Data e hora de envio do protocolo no Datalake. Exemplo: \"2023-01-01T12:00:00\"."},"mensagem":{"type":"string"},"protocolo":{"type":"string"},"status":{"type":"string"}},"title":"Envio"},"EstatisticaOabDTO":{"type":"object","properties":{"erro":{"type":"string"},"oab":{"type":"string"},"tribunais":{"type":"array","items":{"$ref":"#/definitions/TribunalQuantidadeDTO"}}},"title":"EstatisticaOabDTO"},"GenitoresRepresentanteS3":{"type":"object","properties":{"nome":{"type":"string","description":"Nome do genitor do representante da parte. Exemplo: \"Maria Souza\"."},"sexo":{"type":"string","description":"Registro do gênero do genitor do representante da parte. Exemplo: \"FEMININO\", \"MASCULINO\" ou \"OUTROS\"."}},"title":"GenitoresRepresentanteS3"},"GenitoresS3":{"type":"object","properties":{"nome":{"type":"string","description":"Nome do genitor das partes. Exemplo: \"Maria Souza\"."},"sexo":{"type":"string","description":"Registro do gênero do genitor. Exemplos: \"FEMININO\", \"MASCULINO\" ou \"OUTROS\"."}},"title":"GenitoresS3"},"HistoricoS3":{"type":"object","properties":{"sequencia":{"type":"integer","format":"int64","description":"Sequência do histórico da classe ordenado de forma ascendente pela data_inicio da própria classe. Exemplo: 1; 2; 3 "},"dataHoraInicio":{"type":"string","description":"Data e hora de início do histórico. Exemplo: \"2023-01-01T12:00:00\". "},"dataHoraFim":{"type":"string","description":"Data e hora de fim do histórico. Exemplo: \"2023-01-01T12:00:00\". "},"codigo":{"type":"integer","format":"int64","description":"Código da classe histórica conforme TPU de classes. Exemplo: \"12193\"."},"descricao":{"type":"string","description":"Nome da classe histórica de acordo com TPU de classes. Exemplo: “Prestação de Contas Eleitorais”."},"hierarquia":{"type":"string","description":"Ordem crescente da classe histórica em relação aos níveis da TPU de classes. Exemplo: \"(12193) Prestação de Contas Eleitorais | (11529) Procedimentos Relativos a Realização de Eleição | (11427) PROCESSO ELEITORAL\"."}},"title":"HistoricoS3"},"JurisdicaoLocalS3":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Identificador da jurisdição local relacionada ao órgão julgador. Exemplo: 12345."},"idOrigem":{"type":"string","description":"Identificador de origem jurisdição local. Exemplo: 12345."},"nome":{"type":"string","description":"Refere-se à jurisdição territorial do órgão julgador local. Exemplos: \"Tribunal de Justiça do Estado do Paraná\", \"Maceió\"."}},"title":"JurisdicaoLocalS3"},"JurisdicaoOpenSearch":{"type":"object","properties":{"codigo":{"type":"integer","format":"int64","description":"Identificador da jurisdição. Exemplo: 15321."},"nome":{"type":"string","description":"Refere-se à jurisdição territorial do órgão julgador. Exemplos: \"Tribunal de Justiça do Estado de Santa Catarina\", “Comarca de São Miguel do Guaporé”, “Comarca de Machadinho do Oeste”."}},"title":"JurisdicaoOpenSearch"},"JurisdicaoS3":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Identificador da jurisdição relacionada ao órgão julgador. Exemplo: 12345."},"nome":{"type":"string","description":"Refere-se à jurisdição territorial do órgão julgador. Exemplos: \"Tribunal de Justiça do Estado do Paraná\", \"Maceió\"."}},"title":"JurisdicaoS3"},"MagistradoOpenSearch":{"type":"object","properties":{"nome":{"type":"string","description":"Nome do magistrado. Exemplo: Fulano de tal."},"cpf":{"type":"string","description":"CPF do magistrado. Exemplo: 99999999999."}},"title":"MagistradoOpenSearch"},"MagistradoS3":{"type":"object","properties":{"nome":{"type":"string","description":"Nome do magistrado. Exemplo: \"João Silva\". "},"CPF":{"type":"string","description":"CPF do magistrado. Exemplo: \"12345678910\"."}},"title":"MagistradoS3"},"MovimentoS3":{"type":"object","properties":{"sequencia":{"type":"integer","format":"int64","description":"Sequência do movimento dentro da distribuição. Trata-se de um número sequencial de acordo com a ordenação descendente da data do movimento Exemplo: 3, 2, 1."},"dataHora":{"type":"string","description":"Data e hora do movimento. Exemplo: \"2023-01-01T12:00:00\". "},"idDistribuicao":{"type":"string","description":"Identificador da distribuição relacionada ao movimento. Exemplo: \"797d82a6-e945-52a1-b22e-e81c9b83c914\"."},"idCodex":{"type":"integer","format":"int64","description":"Identificador do movimento no Codex. Exemplo: 123456789101."},"idOrigem":{"type":"string","description":"Identificador do movimento na origem. Exemplo: “SG5SP_RI004NLBJ12KW_33”."},"descricao":{"type":"string","description":"Descrição do movimento lançado. Exemplo: \"Arquivado Definitivamente\"."},"classe":{"description":"Classe associada ao movimento. ","$ref":"#/definitions/ClasseMovimentoS3"},"tipo":{"description":"O campo \"Tipo\" define a estrutura de um movimento processual, incluindo o tipo de movimento e, se aplicável, o tipo de complemento ou complemento tabelado. O complemento tabelado é exigido quando a categoria é \"TABELADO\". Cada tipo, como \"Sentença\" ou \"Intimação\", possui um modelo que determina a descrição do movimento, sendo essencial para categorizar o movimento. ","$ref":"#/definitions/TipoMovimentoS3"},"orgaoJulgador":{"description":"Orgão julgador associado ao movimento. ","$ref":"#/definitions/OrgaoJulgadorMovimentoS3"},"idDocumento":{"type":"string","description":"Identificador do documento. Exemplo: 12345 "},"magistrado":{"description":"Dados do magistrado relacionado ao movimento. ","$ref":"#/definitions/MagistradoS3"},"usuario":{"description":"Dados do usuário que realizou o movimento. ","$ref":"#/definitions/UsuarioS3"}},"title":"MovimentoS3"},"NacionalidadeOpenSearch":{"type":"object","properties":{"sigla":{"type":"string","description":"Atributo destinado à sigla do país da nacionalidade da pessoa. Exemplos: “ BR” ;  “US”; \"AR\" "},"nome":{"type":"string","description":"Indica o nome do país de nacionalidade da parte. Exemplo: \"Brasil\", \"Estados Unidos\", “Argentina”."}},"title":"NacionalidadeOpenSearch"},"NacionalidadeS3":{"type":"object","properties":{"sigla":{"type":"string","description":"Atributo destinado à sigla do país da nacionalidade da pessoa. Exemplos: “ BR” ;  “US”; \"AR\" "},"nome":{"type":"string","description":"Indica o nome do país de nacionalidade da parte. Exemplos: \"Brasil\", \"Estados Unidos\", “Argentina”."}},"title":"NacionalidadeS3"},"OabOpenSearch":{"type":"object","properties":{"numero":{"type":"string","description":"Número de inscrição na OAB. Exemplo: 12345678. "},"tipoRegistro":{"type":"string","description":"Tipo de registro da OAB. Exemplos: “A”: inscrição suplementar; “B”: inscrição principal, com transferência entre UFs; “D”: inscrição principal, chamada de definitiva;“E”: inscrição de estagiário; “O”: inscrição principal, chamada de originária; “P”: inscrição principal, chamada de provisória deferida mediante certidão de graduação, sem diploma."},"uf":{"type":"string","description":"Unidade Federativa da OAB. Exemplo: \"SP\". "}},"title":"OabOpenSearch"},"OabS3":{"type":"object","properties":{"numero":{"type":"string","description":"Número de inscrição na OAB. Exemplo: 12345678. "},"tipoRegistro":{"type":"string","description":"Tipo de registro da OAB. Exemplos: “A”: inscrição suplementar; “B”: inscrição principal, com transferência entre UFs; “D”: inscrição principal, chamada de definitiva;“E”: inscrição de estagiário; “O”: inscrição principal, chamada de originária; “P”: inscrição principal, chamada de provisória deferida mediante certidão de graduação, sem diploma."},"uf":{"type":"string","description":"Unidade Federativa da OAB. Exemplo: \"SP\". "}},"title":"OabS3"},"OrgaoJulgadorColegiadoOpenSearch":{"type":"object","properties":{"idLocal":{"type":"integer","format":"int64","description":"Identificador do órgão julgador colegiado local. Exemplo: 1234."},"nome":{"type":"string","description":"Descrição do nome do órgão julgador colegiado. Exemplo: \"1ª Turma\"."}},"title":"OrgaoJulgadorColegiadoOpenSearch"},"OrgaoJulgadorColegiadoS3":{"type":"object","properties":{"idLocal":{"type":"integer","format":"int64","description":"Identificador do órgão julgador colegiado local. Exemplo: 1234."},"nome":{"type":"string","description":"Descrição do nome do órgão julgador colegiado. Exemplo: \"1ª Turma\"."}},"title":"OrgaoJulgadorColegiadoS3"},"OrgaoJulgadorLocalS3":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Identificador do órgão julgador local. Exemplo: 12345."},"nome":{"type":"string","description":"Nome do órgão julgador local. Exemplo: \"1ª Vara Cível\". "},"idOrigem":{"type":"string","description":"Identificador de origemdo órgão julgador local. Exemplo: 12345."},"jurisdicaoLocal":{"description":"Jurisdição associada ao órgão julgador. ","$ref":"#/definitions/JurisdicaoLocalS3"}},"title":"OrgaoJulgadorLocalS3"},"OrgaoJulgadorMovimentoS3":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Identificador do orgão julgador associado ao movimento. Exemplo: 12345."},"idLocal":{"type":"integer","format":"int64","description":"Identificador do orgão julgador local associado ao movimento. Exemplo: 1234567."},"nome":{"type":"string","description":"Nome do orgão julgador associado ao movimento. Exemplo: \"15ª VARA CÍVEL DA CAPITAL\"."},"ibge":{"description":"Dados do IBGE referentes ao orgão julgador","$ref":"#/definitions/DadosIBGE"}},"title":"OrgaoJulgadorMovimentoS3"},"OrgaoJulgadorOpenSearch":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Identificador do órgão julgador. Exemplo: 12345."},"idLocal":{"type":"integer","format":"int64","description":"Identificador do órgão julgador local. Exemplo: 312809."},"nome":{"type":"string","description":"Nome do órgão julgador. Exemplos:  \"GABINETE - DESEMBARGADOR DO TRABALHO PAULINO COUTO\", “CENTRAL DE MANDADOS DE BLUMENAU”  ;   “3ª VARA DO TRABALHO DE ARACAJU” . "},"ibge":{"description":"Dados do IBGE referentes ao orgão julgador","$ref":"#/definitions/DadosIBGE"}},"title":"OrgaoJulgadorOpenSearch"},"OrgaoJulgadorOpenSearchMinimo":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Identificador do órgão julgador. Exemplo: 12345."},"nome":{"type":"string","description":"Nome do órgão julgador. Exemplos:  \"GABINETE - DESEMBARGADOR DO TRABALHO PAULINO COUTO\", “CENTRAL DE MANDADOS DE BLUMENAU”  ;   “3ª VARA DO TRABALHO DE ARACAJU” . "}},"title":"OrgaoJulgadorOpenSearchMinimo"},"OrgaoJulgadorS3":{"type":"object","properties":{"tribunal":{"description":"Dados do tribunal do órgão julgador. ","$ref":"#/definitions/TribunalOrgaoJulgadorS3"},"id":{"type":"integer","format":"int64","description":"Identificador do órgão julgador. Exemplo: 12345."},"idLocal":{"type":"integer","format":"int64","description":"Identificador do órgão julgador local. Exemplo: 123456."},"nome":{"type":"string","description":"Nome do órgão julgador. Exemplo: \"1ª Vara Cível\". "},"jurisdicao":{"description":"Jurisdição associada ao órgão julgador. ","$ref":"#/definitions/JurisdicaoS3"},"ibge":{"description":"Dados do IBGE referentes ao orgão julgador","$ref":"#/definitions/DadosIBGE"}},"title":"OrgaoJulgadorS3"},"OrgaoJulgadorSituacaoAtualOpenSearch":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Identificador do órgão julgador. Exemplo: 12345."},"nome":{"type":"string","description":"Nome do órgão julgador. Exemplos:  \"GABINETE - DESEMBARGADOR DO TRABALHO PAULINO COUTO\", “CENTRAL DE MANDADOS DE BLUMENAU”  ;   “3ª VARA DO TRABALHO DE ARACAJU” . "}},"title":"OrgaoJulgadorSituacaoAtualOpenSearch"},"OrgaoJulgadorUltimoMovimentoOpenSearch":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Identificador do órgão julgador associado ao último movimento. Exemplo: 12345."},"idLocal":{"type":"integer","format":"int64","description":"Identificador do órgão julgador local associado ao último movimento. Exemplo: 1234567."},"nome":{"type":"string","description":"Nome do órgão julgador associado ao último movimento. Exemplo: \"Juízo do Cejusc Estadual Catarinense\"."},"ibge":{"description":"Dados do IBGE referentes ao orgão julgador","$ref":"#/definitions/DadosIBGE"}},"title":"OrgaoJulgadorUltimoMovimentoOpenSearch"},"OutroNomeOpenSearch":{"type":"object","properties":{"nome":{"type":"string","description":"Nome alternativo. Exemplo: \"J. Silva\". "},"tipo":{"type":"string","description":"Tipo do nome. Exemplos: “OUTRO” ;  “ALCUNHA” "}},"title":"OutroNomeOpenSearch"},"OutroNomeS3":{"type":"object","properties":{"nome":{"type":"string","description":"Nome alternativo. Exemplo: \"J. Silva\". "},"tipo":{"type":"string","description":"Tipo do nome. Exemplos: “OUTRO” ;  “ALCUNHA” "}},"title":"OutroNomeS3"},"OutrosAssuntosOpenSearch":{"type":"object","properties":{"codigo":{"type":"integer","format":"int64","description":"Código de outro assunto conforme TPU de assuntos. Exemplo: \"11724\"."},"descricao":{"type":"string","description":"Descrição de outro assunto de acordo com TPU de assuntos. Exemplo: “Diplomação\"."},"hierarquia":{"type":"string","description":"Ordem crescente do outro assunto em relação aos níveis da TPU de assuntos. Exemplo:\"(11631) Cargo - Deputado Federal | (11628) Cargos | (11583) Eleições | (11428) DIREITO ELEITORAL\"."}},"title":"OutrosAssuntosOpenSearch"},"OutrosAssuntosS3":{"type":"object","properties":{"codigo":{"type":"integer","format":"int64","description":"Código de outro assunto conforme TPU de assuntos. Exemplo: \"11724\"."},"descricao":{"type":"string","description":"Descrição de outro assunto de acordo com TPU de assuntos. Exemplo: “Diplomação\"."},"hierarquia":{"type":"string","description":"Ordem crescente de outro assunto em relação aos níveis da TPU de assuntos. Exemplo:\"(11724) Diplomação | (11428) DIREITO ELEITORAL\"."}},"title":"OutrosAssuntosS3"},"OutrosDocumentosS3":{"type":"object","properties":{"nome":{"type":"string","description":"Nome do documento. Exemplo: \"CNH\". "},"numero":{"type":"string","description":"Número do documento. Exemplo: 12345678. "},"tipo":{"type":"string","description":"Tipo de outro(s) documento(s) da parte. Admite os seguintes valores: CI: carteira de identidade; CNH: carteira nacional de habilitação; TE: título de eleitor; CN: certidão de nascimento; CC: certidão de casamento; PAS: passaporte; CT: carteira de trabalho; RIC: registro individual do cidadão; CPF: cadastro de pessoa física; CNPJ: cadastro nacional de pessoa jurídica; PIS_PASEP: número no programa de integração social; CEI: cadastro específico do INSS; NIT: número de identificação do trabalho; CP: cadastro em conselhos profissionais; IF: identidade funcional; OAB: número de cadastro na Ordem dos Advogados do Brasi; RJC: número de inscrição empresarial; RGE: registro de identificação do estrangeiro; NB: número do benefício no INSS; RIND: Registro de identificação de indígenas ou de povos e comunidades tradicionais; RJI: Registro Judiciário Individual, gerado pelo CNJ conforme BNMP; OUTROS: Outros (para certificado de reservista por exemplo)."},"orgaoEmissor":{"type":"string","description":"Órgão emissor do documento. Exemplo: \"DETRAN\". "},"estadoEmissor":{"type":"string","description":"Estado emissor do documento. Exemplo: \"SP\". "}},"title":"OutrosDocumentosS3"},"PaisS3":{"type":"object","properties":{"sigla":{"type":"string","description":"Sigla do país. Exemplo: \"BR\"."},"nome":{"type":"string","description":"Nome do país. Exemplo: \"BRASIL\"."}},"title":"PaisS3"},"ParteS3":{"type":"object","properties":{"polo":{"type":"string","description":"Atributo destinado a permitir a identificação do tipo de polo processual. Exemplo: ASSISTENTE_DESINTERESSADO_AMICUS_CURAE; ATIVO; FISCAL_LEI; NAO_VINCULADOS; OUTROS_PARTICIPANTES; PASSIVO; TERCEIRO; TESTEMUNHA_JUIZO; VITIMA."},"tipoParte":{"type":"string","description":"Tipo de elemento que permite a identificação de uma parte que compõe o processo. Cada parte deve ter apenas uma pessoa física ou jurídica. Exemplo: \"RÉU\", \"REQUERIDO\", \"FISCAL DA LEI\", \"REQUERENTE\", \"EXEQUENTE\", \"EXECUTADO\", \"TERCEIRO INTERESSADO\", \"AUTOR\", \"VÍTIMA\""},"situacao":{"type":"string","description":"Indica a situação da parte em relação ao processo. Exemplo: ‘ATIVO’, ’INATIVO’, ‘BAIXADO’, ‘SUSPENSO’"},"racaCor":{"type":"string","description":"Raça cor da parte."},"nome":{"type":"string","description":"Nome da parte. Exemplo: \"Maria Souza\"."},"sexo":{"type":"string","description":"Registro do gênero da parte. Exemplos: \"FEMININO\", \"MASCULINO\" ou \"OUTROS\"."},"nacionalidade":{"description":"Nacionalidade da parte. ","$ref":"#/definitions/NacionalidadeS3"},"dataNascimento":{"type":"string","description":"Data de nascimento da parte. Exemplo: \"1980-02-03\"."},"genitores":{"type":"array","description":"Lista de genitores da parte. ","items":{"$ref":"#/definitions/GenitoresS3"}},"outrosNomes":{"type":"array","description":"Lista de outros nomes relacionados à parte. ","items":{"$ref":"#/definitions/OutroNomeS3"}},"tipoPessoa":{"type":"string","description":"Indica a natureza jurídica da pessoa. Exemplos: \"FÍSICA\" e \"JURÍDICA\"."},"documentosPrincipais":{"type":"array","description":"Lista de documentos principais relacionados à parte. ","items":{"$ref":"#/definitions/DocumentosPrincipaisS3"}},"outrosDocumentos":{"type":"array","description":"Lista de outros documentos relacionados à parte. ","items":{"$ref":"#/definitions/OutrosDocumentosS3"}},"assistenciaJudiciariaGratuita":{"type":"boolean","description":"Indica se há assistência judiciária gratuita. Valores permitidos: true, false. Exemplo: true. "},"sigilosa":{"type":"boolean","description":"Indica se a parte é sigilosa. Valores permitidos: true, false. Exemplo: false. "},"representantes":{"type":"array","description":"Lista de representantes da parte. ","items":{"$ref":"#/definitions/RepresentanteParteS3"}},"enderecos":{"type":"array","description":"Lista de endereços da parte. ","items":{"$ref":"#/definitions/EnderecoS3"}}},"title":"ParteS3"},"PartesOpenSearch":{"type":"object","properties":{"polo":{"type":"string","description":"Atributo destinado a permitir a identificação do tipo de polo processual. Deve ser definido usando um dos seguintes valores: ASSISTENTE_DESINTERESSADO_AMICUS_CURAE; ATIVO; FISCAL_LEI; NAO_VINCULADOS; OUTROS_PARTICIPANTES; PASSIVO; TERCEIRO; TESTEMUNHA_JUIZO; VITIMA."},"tipoParte":{"type":"string","description":"Tipo de elemento que permite a identificação de uma parte que compõe o processo. Cada parte deve ter apenas uma pessoa física ou jurídica. Exemplo: \"RÉU\", \"REQUERIDO\", \"FISCAL DA LEI\", \"REQUERENTE\", \"EXEQUENTE\", \"EXECUTADO\", \"TERCEIRO INTERESSADO\", \"AUTOR\", \"VÍTIMA\""},"situacao":{"type":"string","description":"Indica a situação da parte em relação ao processo. Exemplo: ‘ATIVO’, ’INATIVO’, ‘BAIXADO’, ‘SUSPENSO’"},"racaCor":{"type":"string","description":"Raça cor da parte."},"href":{"type":"string","description":"Caminho para endpoint pessoas seguido pelo idPessoa. Exemplo: '/pessoas/1fe353ba-98a2-5ba7-889b-324e2e901d09' "},"nome":{"type":"string","description":"Nome da parte. Exemplo: \"Maria Souza\"."},"sexo":{"type":"string","description":"Registro do gênero da parte. Exemplo: \"FEMININO\", \"MASCULINO\" ou \"OUTROS\"."},"nacionalidade":{"description":"Atributos de nacionalidade relacionados a parte. ","$ref":"#/definitions/NacionalidadeOpenSearch"},"outrosNomes":{"type":"array","description":"Lista de outros nomes relacionados a parte. ","items":{"$ref":"#/definitions/OutroNomeOpenSearch"}},"tipoPessoa":{"type":"string","description":"Indica a natureza jurídica da pessoa. Exemplos: \"FÍSICA\" e \"JURÍDICA\"."},"documentosPrincipais":{"type":"array","description":"Lista de documentos principais relacionados a parte. ","items":{"$ref":"#/definitions/DocumentoPrincipalOpenSearch"}},"assistenciaJudiciariaGratuita":{"type":"string","description":"Indica se há assistência judiciária gratuita. Valores permitidos: true, false. Exemplo: true. "},"sigilosa":{"type":"boolean","description":"Indica se a parte é sigilosa. Valores permitidos: true, false. Exemplo: false. "},"representantes":{"type":"array","description":"Lista de representantes da parte. ","items":{"$ref":"#/definitions/RepresentanteOpenSearch"}}},"title":"PartesOpenSearch"},"ProcessoDocumento":{"type":"object","properties":{"id":{"type":"string","description":"Identificador do processo. Exemplo: \"12345\". "},"versao":{"type":"string","description":"Indentificação da versão do Json utilizado"},"numeroProcesso":{"type":"string","description":"Número do processo. Exemplo: \"0001234-56.2023.8.26.0000\". "},"numeroProcessoSintetico":{"type":"string","description":"Número do processo. Exemplo: \"0001234-56.2023.8.26.0000\"."},"dataHoraAtualizacao":{"type":"string","description":"Data e hora da última atualização do processo. Exemplo: \"2023-01-01T12:00:00\". "},"dataHoraUltimaAtualizacaoCodex":{"type":"string","description":"Data e hora da última atualização do processo no Codex. Exemplo: \"2023-01-01T12:00:00\"."},"nivelSigilo":{"type":"integer","format":"int64","description":"Nível de sigilo a ser aplicado ao processo. Dever-se-á utilizar os seguintes níveis: - 0: públicos, acessíveis a todos os servidores do Judiciário e dos demais órgãos públicos de colaboração na administração da Justiça, assim como aos advogados e a qualquer cidadão - 1: segredo de justiça, acessíveis aos servidores do Judiciário, aos servidores dos órgãos públicos de colaboração na administração da Justiça e às partes do processo. - 2: sigilo mínimo, acessível aos servidores do Judiciário e aos demais órgãos públicos de colaboração na administração da Jus
[...]
